.cabecalhoPrincipal .container{
	display:flex;
	align-items:center;
	/*alinha verticalmente no centro*/
	justify-content: space-between;
	/*cria um espaço entre os elementos*/
}

.cabecalhoPrincipal-nav{
	display:flex;

}

.rodapePrincipal-patrocinadores .container{
	display: flex;
	justify-content: space-between;

}

.rodapePrincipal-patrocinadores-list{
	display:flex;
	align-items: center;
	justify-content: space-around;/*cria espaço em volta dos elementos*/
	width:75%;
}

.rodapePrincipal-contatoForm{
	width:25%;

}

.rodapePrincipal-contatoForm-fieldset{
	display: flex;/*coloca botão do lado
	do campo e ajusta o tamanho dele*/
}

.rodapePrincipal-navMap-list{
	display:flex;
	/*flex-direction: column;*/
	/*direcionamento do flex vai ficar alinhado um embaixo do outro*/
	height: 250px;/*para manter o tamanho e não ficar muito grande
	devido a direção do flex*/
	/*flex-wrap: wrap;*/
	/*para não ultrapassar o tamanho
	do rodapé (elemento pai) e quebrar para a próxima coluna*/
	flex-flow: column wrap;
	/*o comando acima substitui o flex direction e wrap*/
}

.conteudoPrincipal-cursos{
	display:flex;
	flex-wrap: wrap;/*para quebrar as linhas*/
}

.conteudoPrincipal-cursos-link{
	width:20%;
	margin:1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n){
	margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1){
	margin-right: 0;
}

.videoSobre .container{
	display:flex;
}

.videoSobre-sobre{
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 2; /*crescer o tamanho que sobrou na página*/

}

.videoSobre-sobre-list{
	flex-grow: 1;
}

.videoSobre-video{
	flex-grow: 1;
	flex-shrink: 2;
}


/*Parte mobile*/
@media(max-width: 768px){

	.cabecalhoPrincipal-nav{
		flex-direction: column;

	}

	.cabecalhoPrincipal .container{
		flex-direction: column;
		align-items: initial;
		text-align:center;
	}

	.conteudoPrincipal-cursos{
		flex-direction: column;
	}

	.conteudoPrincipal-cursos-link{
		width: 100%;
	}

	.rodapePrincipal-navMap-list{
		height: auto;
	}

	.rodapePrincipal-patrocinadores .container{
		flex-direction: column;
		align-items: center;/*uasar essa opção pela 
		mudança do eixo (row p/ column)
		caso conmtrário, usaria a opção
		justify-content*/
	}

	.rodapePrincipal-patrocinadores-list{
		margin: 0;
		width: 100%;	
	}

	.rodapePrincipal-contatoForm{
		width: 100%;
	}

	.rodapePrincipal-contatoForm-fieldset{
		justify-content: center;
	}

	.cabecalhoPrincipal-nav-link.cabecalhoPrincipal-nav-link-app{
		order:-1;
	}

	.videoSobre .container{
		flex-direction: column;
	}

	.videoSobre-video{
		margin: 0 auto;
	}
}